body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.questionContainer{
    border:1px solid black;
}

.questionScoreContainer {
    border: 1px solid black;
}

.questionBodyContainer{
    border:1px solid black;
}
.questionAnswersContainer {
    border: 1px solid black;
}
hr{
    margin-bottom:0px;
}

.correct{
    color:green;
}
.incorrect{
    color:darkred;
}
.toggle{
    top:40px;
    left:9px;
    margin-top:-30px;
    margin-bottom:0px;
    z-index:1;
    width:60px;
    cursor:pointer;
}
.questionAnswerPossibility{
    z-index:1;
    border:none;
}
.questionAnswerPossibility-selected {
    border: 3px solid orange;
}
.questionAnswerPossibility-selected-correct {
    border: 3px solid green;
}
.questionAnswerPossibility-selected-incorrect {
    border: 3px solid red;
}

.questionTitle {
    cursor: pointer;
    color: #0000EE;
}