@{
    ViewData["Title"] = "Game Session";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/gameUI.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
<script src="~/js/app.js"></script>
<body ng-app="app" style="margin-top:15px;">
    <div class="col-sm-12" ng-controller="GameSession">
        <div class="col-sm-12">
            <div class="col-sm-offset-3 col-sm-6 h5">
                Do you think you have what it takes? Put your web dev knowledge up to the test of 10 
                random Stack Overflow Questions. Simply click the Start button below to get started!
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div id="start_session_btn" class="col-sm-offset-5 col-sm-7"><button ng-click="StartGameSessionSettings()" class="btn btn-lg">Start Game</button></div>
        <div class="hidden col-sm-offset-4 col-sm-8" id="start_game_session">
            <div class="form-group">
                <label class="control-label" for="username">Username</label>
                <input onkeyup="validateName()" type="text" id="username" />
            </div>
            <div class="form-group" style="padding-left:15%;">
                <button id="startGameBtn" disabled ng-click="StartGameSession()" class="btn-lg">Start Game</button>
            </div>
        </div>
        <div class="hidden col-sm-12" id="game_session">
            <div class="col-sm-offset-3 col-sm-9" style="margin-bottom:20px;">
                <div class="form-group">
                    <label class="control-label" for="search">Search</label>
                    <input onkeyup="search()" type="text" class="form-control" id="search" style="max-width:300px" />
                </div>
            </div>
        </div> 
        <div id="finishSessionContainer" class="col-sm-12 hidden">
            <div class="col-sm-offset-5 col-sm-7">
                <button class="btn-lg" ng-click="finishSession()">Finish Session</button>
            </div>
        </div>
    </div>
</body>